<p>
  <strong>Body:</strong>
  <%= @bird.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @bird.user.username %>
</p>

<%= link_to 'Edit', edit_bird_path(@bird) %> |
<%= link_to 'Back', birds_path %>
